@using HairSalon.Models;
<p><a href="/client">List of Clients</a></p>
<p><a href="/stylist">List of Stylist</a></p>
<p><a href="/specialitys/new">Add Speciality</a></p>
<p><a href="/specialitys">List of Speciality</a></p>


<h1>Speciality Information </h1>

<h2>@Model["selectedSpeciality"].GetSpecialityName()</h2>
<hr />
@if (@Model["SpecialityStylists"].Count != 0)
{
  <h4>This speciality has these stylists</h4>
  <ul>
    @foreach (Stylist stylist in @Model["SpecialityStylists"])
    {
      <li>@stylist.GetStylistName()</li>
    }
  </ul>
}
}
<h4>Add a stylist for this speciality</h4>
<form action='/specialitys/@Model["selectedSpeciality"].GetSpecialityId()/stylists/new' method='post'>
  <label for='stylistid'>Select a stylist</label>
  <select id='stylistid' name='stylistid' type='text'>
    @foreach (var stylist in @Model["allStylists"])
    {
      <option value='@stylist.GetId()'>@stylist.GetStylistName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
<p><a href="/">Return to Main Page</a></p>
